version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    groups:
      all:
        patterns:
          - "*"
    schedule:
      interval: daily
  - package-ecosystem: nuget
    directory: "/"
    groups:
      all:
        patterns:
          - "*"
    schedule:
      interval: daily
