name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  Build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: SetupDotNet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: TestLegoSetNotifier
        run: |
          dotnet test LegoSetNotifier.Test/LegoSetNotifier.Test.csproj

      - name: PublishLegoSetNotifier
        run: |
          dotnet publish LegoSetNotifier/LegoSetNotifier.csproj --runtime linux-x64 -p:PublishSingleFile=true --self-contained true --output publish_output

      - name: TagRelease
        if: github.ref == 'refs/heads/main'
        id: tag_release
        run: |
          echo "tag=$(date +%Y%m%d).$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: ReleaseArtifacts
        if: github.ref == 'refs/heads/main'
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag_release.outputs.tag }}
          files: |
            publish_output/*
